<header>
    <nav class="navbar navbar-default page-head" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <!-- <button type="button" class="navbar-toggle" data-toggle="collapse"
                         data-target="#bs-example-navbar-collapse-1">
                     <span class="sr-only">Toggle navigation</span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                 </button>-->
                <a class="navbar-brand" ui-sref="home.chats"><h2>Panel</h2></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" uib-dropdown>
                    <a class="dropdown-toggle" uib-dropdown-toggle>
                        <button class="btn btn-sm"><span class="caret"></span></button>
                    </a>
                    <ul class="uib-dropdown-menu" uib-dropdown-menu>
                        <li ng-click="MainCtrl.User.Auth.logout()"><a href=""><span
                                class="glyphicon glyphicon-off"></span> Cerrar Sesión</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="container-fluid">
    <div class="alert-special-container" ng-show="MainCtrl.Alert.show">
        <div class="alert alert-{{MainCtrl.Alert.type}} alert-dismisable alert-special" role="alert">
            <button type="button" class="close" ng-click="MainCtrl.Alert.hideMsg()" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>&nbsp;{{MainCtrl.Alert.msg}}
        </div>
    </div>

    <div class="col-md-2" ng-show="MainCtrl.User.Auth.user">
        <div id="sidebar" class="card sidebar-nav">
            <h5><i class="glyphicon glyphicon-th-large"></i>
                <small><b>MENÚ</b></small>
            </h5>
            <ul class="nav nav-pills nav-stacked">
                <li><a ui-sref="home.test" ui-sref-active="active"><i class="glyphicon glyphicon-comment"></i>&nbsp;Test</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-10" ng-class="{'col-md-offset-1':!MainCtrl.User.Auth.user}" id="main">
        <div ui-view></div>
    </div>

</div>

<footer>
    <div class="container-fluid">
        <a href="http://www.testproject.com" target="_blank">
            © Project {{MainCtrl.date| date:'yyyy'}}</a>
    </div>
</footer>